:root {
  --dark-blue: #123f69;
  --light-gray: #e6ecef;
  --darkest-color: #131811;
  --light-blue: #a3cef1;
  --orange: #fa824c;
}

html {
  font-family: "Bangers", cursive;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--light-blue);
}
