/* 
font-family: "Indie Flower", cursive;
font-family: "Yusei Magic", sans-serif; */

:root {
  --dark-blue: #123f69;
  --light-gray: #e6ecef;
  --darkest-color: #131811;
  --light-blue: #a3cef1;
  --orange: #fa824c;
}

html {
  font-family: "Indie Flower", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: consolas;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  padding: 15px 30px;
  color: var(--dark-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  vertical-align: top;
}

body {
  background-color: var(--light-blue);
  display: flex;
  flex-wrap: wrap;
  font-family: "Yusei Magic", sans-serif;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;
}

#bodyWrapper {
  margin: 10px;
  max-width: 960px;
}

h1 {
  margin: auto;
  margin-bottom: 10px;
}

input {
  text-align: right;
}

li {
  list-style-type: none;
}

#enterSite {
  align-content: center;
  background: var(--dark-blue);
  border: 3px solid var(--orange);
  border-radius: 5%;
  color: var(--light-blue);
  display: block;
  font-family: "Potta One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: center;
  margin: 40% 30px;
  text-align: center;
}

#sean {
  height: 200px;
  margin-top: 30px;
}

#enterSiteLink {
  color: var(--light-blue);
  font-size: 3rem;
}

#topSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

#tsIngSection {
  background-color: var(--light-gray);
  display: block;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

#ingInputSection {
  display: block;
}

.removeInput {
  border: 1px solid var(--darkest-color);
  border-radius: 50%;
  margin: 5px;
}

.invisibleButton {
  opacity: 0%;
}

#addAnotherIng {
  font-size: 0.6rem;
  letter-spacing: 1px;
  padding: 5px;
}

#searchButton {
  background: var(--dark-blue);
  border-color: var(--orange);
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  color: var(--light-gray);
  font-family: "Yusei Magic", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px;
}

.hidden {
  display: none;
}

#inputGroup .hidden {
  margin: 0.6rem;
  padding: 5px;
}

#tsRecipeNoResults {
  color: var(--orange);
  text-align: center;
}

#tsRecipeSection {
  background-color: var(--dark-blue);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  gap: 2rem;
  justify-content: center;
  grid-auto-flow: row;
  margin: 0px;
}

#tsRecipeSection.hidden {
  display: none;
}

#tsRecipeList {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding: 0%;
  width: 100%;
}

.tsRecipeList--card {
  align-items: center;
  background-color: #8b4829;
  border: 2px solid var(--orange);
  height: 150px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  top: 0;
  width: 80%;
}

.tsRecipeList--name {
  color: var(--light-gray);
  font-size: 2rem;
  position: absolute;
  left: 20px;
  top: 7%;
}

.tsRecipeList--image {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  opacity: 0.25;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.visible #bsHeader {
  background-color: var(--light-gray);
  color: var(--dark-blue);
  display: flex;
  font-family: "Indie Flower", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  justify-content: space-between;
  margin: 5px;
  padding: 0px 10px;
}

.visible #bsHeader a {
  font-family: "Yusei Magic", sans-serif;
  text-align: center;
  padding: 0px 12px 0px 0px;
}

.overlay {
  background-color: var(--dark-blue);
  border: 2px solid var(--orange);
  border-radius: 8px;
  color: var(--light-gray);
  display: none;
  justify-content: center;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.overlay.visible {
  display: block;
}

.visible #bsImgIngWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: auto;
  gap: 7px;
  justify-content: center;
  grid-auto-flow: row;
  position: relative;
  padding: 16px;
}

.visible .modal .close {
  background: var(--orange);
  border: none;
  border-radius: 50%;
  color: var(--light-gray);
  height: 24px;
  width: 24px;
  padding: 4px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.visible #bsImage img {
  display: block;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  align-self: flex-end;
  background-color: var(--dark-blue);
  display: block;
  font-family: "Yusei Magic", sans-serif;
  font-size: 0.8rem;
  height: 100px;
  margin-top: 10px;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.footer--header {
  color: var(--orange);
  letter-spacing: 1px;
  margin: 5px;
}

.footer a {
  color: var(--orange);
  font-size: inherit;
  letter-spacing: 1px;
  padding: 0px;
  text-decoration: none;
  text-transform: none;
  vertical-align: top;
}

.footer p {
  font-size: 0.6rem;
  margin: 0px;
}

@media only screen and (min-width: 760px) {
  html,
  body {
    display: flex;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
  }
  #enterSite {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 450px;
  }
  #drinkBanner {
    width: 100vw;
  }
  #dsHeader {
    margin-top: 50px;
  }
  #tsDrinkList {
    padding: 10px 65px;
  }
  #dsModal {
    margin: 20px auto;
    max-width: 400px;
  }
  #bodyWrapper {
    margin: 0px;
    top: 200px;
  }
  #topSection {
    transition: display 0.5s ease;
    display: flex;
    margin-top: 40px;
  }
  #topSection.grid {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 0px;
  }
  #tsIngSection {
    height: 200px;
    margin: 10px 20px;
  }
  #tsRecipeSection {
    border: 3px solid var(--dark-blue);
    height: 300px;
    margin: 10px 20px;
    overflow: scroll;
    padding: 10px;
  }
  #tsRecipeNoResults {
    align-self: center;
  }
  #bottomSection.bsRecipeFill,
  #bottomSection.bsRecipeFill.visible,
  .visible .modal {
    display: block;
    overflow: scroll;
    position: unset;
  }
  #bsImgIngWrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    gap: 2rem;
    /* height: 400px; */
    justify-content: center;
    grid-auto-flow: row;
    margin: 0px 20px;
    max-height: 400px;
    overflow: scroll;
  }
  #bsHeader {
    align-content: center;
    background-color: var(--light-gray);
    color: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
  }
  #bsHeader a {
    padding: 0px;
    vertical-align: top;
  }
  #bsImage img {
    max-width: 200px;
  }
  #bsRight {
    display: block;
  }
  #closeModal.close {
    align-items: flex-end;
    height: 0px;
    opacity: 0%;
    padding: 0px;
    z-index: -200;
  }
  footer {
    margin: 0px;
    padding: 10px;
  }
}
