:root {
  --dark-blue: #123f69;
  --light-gray: #e6ecef;
  --darkest-color: #131811;
  --light-blue: #a3cef1;
  --orange: #fa976a;
}

html {
  font-family: "Indie Flower", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: consolas;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* These are not doing anything because they do not have a corresponding class in the html */
/* 
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.body {
  font-family: "Indie Flower", cursive;
  font-family: consolas;
  font-family: Arial;
  margin: 0;
} 

*/

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}

.DrinkBanner {
  background: var(--light-blue);
  color: var(--dark-blue);
  display: block;
  font-size: 1.1rem;
  font-family: "Indie Flower", cursive;
  height: 150px;
  justify-content: center;
  padding: 0px;
  position: relative;
  text-align: center;
  width: 100vw;
}

.select {
  height: 100%;
  justify-content: center;
  padding: 20px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 10%;
}

.arrows {
  margin-top: 30px;
}

.right {
  width: 3rem;
  height: 3rem;
  float: right;
  box-shadow: 2px -2px 0 var(--darkest-color);
  transform: rotate(45deg);
}

#dsHeader {
  height: 100%;
  justify-content: center;
  margin: 30px 40px 20px;
  position: relative;
}

#tsDrinkList {
  align-content: center;
  background-color: var(--light-blue);
  display: flex;
  font-family: "Yusei Magic", sans-serif;
  justify-content: center;
  padding: 20px 65px;
  position: absolute;
  top: 0%;
  width: 100vw;
}

#tsDrinkList img {
  border-radius: 20px;
  max-height: 150px;
  max-width: 100px;
  margin-left: 10px;
}

#tsDrinkList p {
  align-items: center;
  display: flex;
  flex-wrap: no-wrap;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

/* Modal */
.dsModal {
  background-color: var(--dark-blue);
  border: 2px solid var(--orange);
  border-radius: 5%;
  color: var(--light-gray);
  display: none;
  margin: 20px auto;
  position: fixed;
  justify-content: center;
  padding: 16px;
  max-width: 400px;
  min-height: fit-content;
  /* width: 100%; */
  top: 10%;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5000;
  /* overflow: hidden; */
}

.dsModal.visibleds {
  display: block;
}

.dsModal .close {
  background: silver;
  border: none;
  border-radius: 50%;
  color: #fff;
  height: 24px;
  width: 24px;
  padding: 4px;
  position: absolute;
  top: 8px;
  right: 8px;
}

#dsImage img {
  max-height: 200px;
}
